.container {
  position: relative;
}

.textinput {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $gray40;
  border-radius: 4px;
  color: $gray60;
  padding: 16px 28px 16px 16px;
  position: relative;

  &:focus {
    outline: none;
  }
}

.after {
  position: absolute;
  right: 14px;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  align-items: center;
}