.container {
  position: relative;
}

.textinput {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  color: #8C8C8C;
  padding: 16px 28px 16px 16px;
  position: relative;

  &:focus {
    outline: none;
  }
}

.after {
  position: absolute;
  right: 14px;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  align-items: center;
}