.no-shrink {
  flex-shrink: 0;
}

.no-select {
  user-select: none
}

.pt-12 {
  padding-top: 12px;
}

.pb-24 {
  padding-bottom: 24px;
}

.mr-16 {
  margin-right: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}