.chip {
  background: #F4F4F4;
  border-radius: 18px;
  padding: 4px 24px;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
}

.chip:hover {
  background: #FB9155;
  color: #fff;
}

.active {
  background: #EB6012;
  color: #fff;
}

.active:hover {
  background: #CB540F;
  color: #fff;
}