.chip {
  background: $gray10;
  border-radius: 18px;
  padding: 4px 24px;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
}

.chip:hover {
  background: $orangeLight;
  color: $white;
}

.active {
  background: $orangeMedium;
  color: $white;
}

.active:hover {
  background: $orangeDark;
  color: $white;
}