.leftArrow {
  background: url('./Path.svg');
  width: 24px;
  height: 16px;
}

.rightArrow {
  background: url('./Path.svg');
  transform: rotate(180deg);
  width: 24px;
  height: 16px;
}

.filter {
  background: url('./Vector.svg');
  width: 20px;
  height: 20px;
}